<%= current_user.productToken %>
<%= form_with do |form| %>
    <div class="actions">
    <%= form.text_field :term%>
      <%= form.submit 'Search'%>
    </div>
  <% end %>

<% if @items %>
  <table class = "table table-striped">
    <thead class = "thead-dark">
    <th>Item</th>
    <th>Picture</th>
    <th>Add Product</th>
    </thead>
    <% @items.each do |item|%>
      <tbody>
      <td><%= item["upc"] + ", " + item["description"].to_s + ", " + item["items"][0]["price"]["regular"].to_s %></td>
      <td><img src="https://www.kroger.com/product/images/medium/front/<%=item["upc"]%>" ></td>
      <td><%= link_to 'Add this Product', 'http://localhost:3000/requests/' + params[:id] + '/add_product?prod_id=' + prod_id=item["upc"]%>
      </tbody>
    <% end %>
<% else %>
  <p>Yikes</p>
<% end %>